/*=======HEADER=========*/
.grand_container {
  background-image: url("../img/background_img1.jpg");
  opacity: 20%;
  top: 0;
  bottom: 0;
  background-size: 100% 90%;
  background-position: center;
}

.navbar {
  position: fixed !important;
  z-index: 30;
  font-size: 16px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent !important;
  color: #353f11 !important;
  font-family: 'Rock Salt', cursive;
}

a {
  color: black !important;
}

.jumbotron {
  background-image: url("../img/jumbotron-01.jpg");
  background-size: 100% 100%;
  background-position: center;
  top: 0;
  margin-bottom: 0px !important;
  background-repeat: no-repeat;
}

.container-fluid {
  padding: 0px !important;
}

.name {
  font-family: 'Rock Salt', cursive;
  color: #A83F04 !important;
  text-align: center;
  margin-top: 13%;
  font-size: 70px !important;
}

.title {
  font-family: 'Rock Salt', cursive;
  color: #353f11 !important;
  margin-bottom: 7%;
  text-align: center;
  font-size: 40px !important;
}

/*==========CONTENT============*/
.about {
  background-color: #DEDDE4;
}

.content1 {
  padding-top: 60px;
}

.small_town {
  font-family: 'Rock Salt', cursive;
  color: #A83F04 !important;
}

.lorem {
  word-wrap: normal;
}

.content2 {
  padding-top: 20px;
  background-color: #DEDDE4;
}

.my_work {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: #353f11;
}

.img-circle {
  height: 200px;
  width: 250px;
}

.h3 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif !important;
  color: #353f11 !important;
}

.btn {
  padding: 0px !important;
  border: none !important;
  border-radius: 50% !important;
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
}

.content3 {
  background-color: #62706B;
}

.con3 {
  padding-top: 50px;
}
